<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml.com" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Data</title>
</head>
<body>
<table border="1">
<thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Salary</th>
<th>update</th>
<th>remove</th>
</tr>
</thead>
<tbody>
<tr th:each="pro:${abc}">
<td th:text="${pro.id}">id</td>

<td th:text="${pro.name}">name</td>
<td th:text="${pro.salary}">salary</td>
<td><a th:href="@{'/edit/' + ${pro.id}}">Update</a></td>
<td><a th:href="@{'/delete/' + ${pro.id}}">Remove</a></td>
</tbody> 
 </table>
 <br><br> 
 
<a href ="addData">Add</a>
</body>
</html>